@using Site.Models
@model IEnumerable<_Data.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Any())
{
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            
            <div>
                <img class="img-fluid" src="@Url.Action("Index", "Image", new ImageModel { Id = item.Id, AppDataDir = "Product" })" alt="" />
            </div>

        </div>
    }
</div>
}

