/.vs/config/applicationhost.config
/.vs/MaryNail/DesignTimeBuild/.dtbcache
/.vs/MaryNail/v15/.suo
/.vs/MaryNail/v15/Server/sqlite3/db.lock
/.vs/MaryNail/v15/Server/sqlite3/storage.ide
/.vs/MaryNail/v15/Server/sqlite3/storage.ide-shm
/.vs/MaryNail/v15/Server/sqlite3/storage.ide-wal
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Site/Content/AppUpload/
