@model List<Site.Models.BookingModels>
@{
    ViewBag.Title = "Index";
}



<div class="d-flex align-content-center justify-content-between">
    <div>
        <h2>Все верно?</h2>
    </div>
    <div>
        @Html.ActionLink("Да! К выбору времини", "ChoiceTime", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>

